/static
.idea/
*.pyc
snackshop_auth_service/media
*.name
*.iml
*.log
*.xml
*.pyo
*.csv
.DS_Store
.idea
venv/*
static/*
*.pem
*.sqlite3
/migrations/__pycache__/ 
/__pycache__/ 
/*.pyc 
/__pycache__/*.pyc 
__pycache__/
.env
docker-compose-api.yml
__pycache__/
db.sqlite3
.vscode
.scannerwork
env